{%  extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Profile{% endblock %}

{% block header %}
{% include './includes/navbar.html' %}
{% endblock %}

{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="card text-center py-5 mb-3 col-lg-12 bg-white">
                <div>
                    <h1>GoodBooks from GoodReads</h1>
                    <blockquote class="quote__profile" cite="https://www.goodreads.com/quotes">
                        “So many books, so little time.” ― <b>Frank Zappa</b>
                    </blockquote>
                    <hr style="width: 50%">
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" card col-lg-12 bg-white">
                <!--Search form-->
                <form class="form-inline py-3" method="POST" role="form">
                    <div class="mx-2">
                        {{ searchform.hidden_tag() }}
                        {{ wtf.form_errors(searchform, hiddens="only") }}
                    </div>
                    <div class="mx-2">
                        {{ wtf.form_field(searchform.select)}}
                    </div>
                    <div class="mx-2">
                        {{ wtf.form_field(searchform.search)}}
                    </div>
                    <div class="mx-2">
                        {{ wtf.form_field(searchform.submit)}}
                    </div>
                </form>
            </div>
        </div>
        <div class="row d-flex justify-content-around pt-4">
            <div class="container__book--info card col-lg-12 py-3 px-3 mx-3 my-3">
                <div class="image__book mb-3"
                     style="background-image:url({{ url_for('static', filename='img/books.jpeg') }})"></div>
                <div class="px-5">
                    <h1 class="book__info--title">{{ book.title }}</h1>
                    <h3 class="book__info--author">by <b>{{ book.author }}</b></h3>
                    <br>
                    <h4 class="book__info--isbn float-right">isbn: {{ book.isbn }}</h4>
                    <hr class=" my-5" style="width: 80%">
                </div>
                <div class="px-5 pb-5">
                    <!--Review Form-->
                    <form method="POST" role="form">
                        <div>
                            {{ reviewForm.hidden_tag() }}
                            {{ wtf.form_errors(reviewForm, hiddens="only") }}
                        </div>
                        <div>
                            {{ wtf.form_field(reviewForm.rating)}}
                        </div>
                        <div>
                            {{ wtf.form_field(reviewForm.review)}}
                        </div>
                        <div>
                            {{ wtf.form_field(reviewForm.submit)}}
                        </div>
                    </form>
                    <ul>
                        {% for user in users %}
                            {% for review in reviews %}
                                {% if user.id == review.user_id%}
                                    <li>{{user.first_name}}: {{ review.review_text }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>


                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}