{%  extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Profile{% endblock %}
{% block header %}
{% include './includes/navbar.html' %}
{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="card col-lg-12 bg-white">
                <div class="profile-message">
                    <h1>GoodBooks from GoodReads</h1>
                    <blockquote class="quote__profile" cite="https://www.goodreads.com/quotes">
                        “So many books, so little time.” ― <b>Frank Zappa</b>
                    </blockquote>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" card col-lg-12 bg-white">
                <form class="form-inline py-3" method="POST" role="form">
                    <div class="mx-2">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}
                    </div>
                    <div class="mx-2">
                        {{ wtf.form_field(form.select)}}
                    </div>
                    <div class="mx-2">
                        {{ wtf.form_field(form.search)}}
                    </div>
                    <div class="mx-2">
                        {{ wtf.form_field(form.submit)}}
                    </div>
                </form>
            </div>
        </div>
        <div class="row d-flex justify-content-around pt-4">
                <div class="card py-2 px-3 mx-3 my-1" style="width: 15em">
                    <b>isbn: </b>{{ book.isbn }}
                    <b>Title: </b>{{ book.title }}
                    <b>Author: </b>{{ book.author }}
                </div>
        </div>
    </div>
</div>
{% endblock %}