{%  extends "base.html" %}

{% block title %}Home{% endblock %}
{% block header %}
{% include './includes/navbar.html' %}
{% endblock %}
{% block body %}
<div class="text-center py-5">
    <div class="container">
        <div class="row">
            <div class="card col-lg-12 py-5">
                <div class="intro-message">
                    <h1>GoodBooks from GoodReads</h1>
                    <blockquote class="quote__home" cite="https://www.goodreads.com/quotes">
                        “So many books, so little time.” ― <b>Frank Zappa</b>
                    </blockquote>
                    <hr class="mt-5" style="width: 50%">
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}