{%  extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Profile{% endblock %}

{% block header %}
{% include './includes/navbar.html' %}
{% endblock %}

{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="card text-center py-5 mb-3 col-lg-12 bg-white">
                <div>
                    <h1>GoodBooks from GoodReads</h1>
                    <blockquote class="quote__profile" cite="https://www.goodreads.com/quotes">
                        “So many books, so little time.” ― <b>Frank Zappa</b>
                    </blockquote>
                    <hr style="width: 50%">
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" card col-lg-12 bg-white">
                <form class="form-inline py-3" method="POST" role="form">
                    <div class="mx-2">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}
                    </div>
                    <div class="mx-2">
                        {{ wtf.form_field(form.select)}}
                    </div>
                    <div class="mx-2">
                        {{ wtf.form_field(form.search)}}
                    </div>
                    <div class="mx-2">
                        {{ wtf.form_field(form.submit)}}
                    </div>
                </form>
            </div>
        </div>
        <div class="row d-flex container__results pt-4">
            {% for book in results %}
            <a class="book__info" href="{{ url_for( 'home.book', isbn=book.isbn ) }}" style="text-decoration: none">
                <div class="container__book--info container__book--info-link card py-3 px-3 mx-3 my-3" style="width: 15em">
                    <img class="card-img-top mb-3" src="{{ url_for('static', filename='img/books.jpeg') }}" alt="Card image cap">
                    <h4 class="book__info--title">{{ book.title }}</h4>
                    <span class="book__info--author">by <b>{{ book.author }}</b></span>
                    <br>
                    <span class="book__info--isbn float-right">isbn: {{ book.isbn }}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}