#submit {
    background-color: green;
    color: white;
}

#rating {
    width: 10em;
}

#select {
    width: 10em;
}

.btn__delete {
    border: none;
    background-color: #f24846;
    color: white;
}
.btn__edit {
    border: none;
    background-color: #609dce;
    color: white;
}

a.book__info {
    color: black;

}
.container__book--info-link:hover {
    transform: translateY(-3px);
    box-shadow: 0 1px 10px grey;

}

h4.book__info--title {
    color: #1b1464;
}

.book__info--author {
    display: inline-block;
}

.book__info--isbn {
    display: inline-block;
    font-size: 0.8em;
    position: relative;
    bottom: 4;
}

.container__results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container__results:after {
    content: "";
    flex: auto;
}

.card-img-top {
    opacity: 0.9;
}

.image__book {
    border-radius: 3px;
    opacity: 0.9;
    height: 300px;
    background-position: bottom;
}