<div class="container">
    <div class="row">
        <div class="container clearfix">
            <ul class="list-inline float-right">
                <li class="list-inline-item"><a href="{{ url_for('home.homepage') }}">Home</a></li>
                <li class="list-inline-item footer-menu-divider">⋅</li>
                <li class="list-inline-item"><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li class="list-inline-item footer-menu-divider">⋅</li>
                <li class="list-inline-item"><a href="{{ url_for('auth.login') }}">Login</a></li>
            </ul>
            <p class="float-left copyright text-muted small">Copyright © 2019. All Rights Reserved</p>
        </div>
    </div>
</div>